/* Aside Css */

.aside {
  width: 30%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  margin-right: 15%;
  margin-top: 102px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* width */
.aside::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.aside::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

/* Handle */
.aside::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 10px;
}

/* Handle on hover */
.aside::-webkit-scrollbar-thumb:hover {
  background: var(--light-blue);
  cursor: grab;
}

.aside::-webkit-scrollbar-thumb:active {
  background: var(--light-blue);
  cursor: grabbing;
}

.aside-content {
  display: flex;
  flex-direction: column;
}

.profile-section {
  margin-top: 100px;
  margin-bottom: 40px;
  gap: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-img-my-name {
  gap: 25px;
  display: flex;
  align-items: center;
}

.suggestion-headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.suggestion-headline h1 {
  color: var(--text-gray);
  font-weight: bold;
}

.suggestion-headline a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 18px;
}

.profiles-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.random-profiles {
  gap: 25px;
  display: flex;
  align-items: center;
}
