/* Aside Css */

.aside {
  width: 30%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  margin-right: 15%;
  margin-top: 102px;
}

.aside-content {
  display: flex;
  flex-direction: column;
}

.profile-section {
  margin-top: 100px;
  gap: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-name {
  display: flex;
  align-items: center;
}

.img-name p {
  font-size: 22px;
  margin: 4px 0 4px 0;
}
