/* header */
.header {
  background-color: white;
  border-bottom: var(--border);
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo img {
  width: 180px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.header-logo a {
  display: flex;
  cursor: unset;
  text-decoration: none;
}

.header-section {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  gap: 14px;
  width: max-content;
  display: flex;
  align-items: center;
  padding: 14px;
  border-radius: 28px;
  background-color: var(--bg-gray);
  width: 250px;
}

.search img {
  width: 25px;
}

.search-input {
  width: 100%;
  font-size: 20px;
  color: black;
  outline: none;
  border: none;
  background: transparent;
  caret-color: var(--blue);
}

.search-icon {
  cursor: pointer;
}

.search-input::placeholder {
  text-align: center;
  user-select: none;
  color: var(--text-gray);
}

.search-input:focus::placeholder {
  opacity: 0;
}

[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url(/img/xmark-search.svg);
  background-repeat: no-repeat;
  object-fit: cover;
  cursor: pointer;
  height: 20px;
  width: 20px;
  background: black;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.navigation a {
  display: flex;
}

.navigation img {
  transition: 0.2s ease-in-out;
  width: 45px;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.navigation img:hover,
.header-logo img:hover {
  scale: 1.2;
  transform: translateY(-6px);
  filter: drop-shadow(6px 5px 1px rgb(128, 128, 128, 1.2));
}

.profile-picture {
  object-fit: cover;
  /* height: 45px; */
  border-radius: 100%;
}

.mobile-black-search-icon {
  display: none;
}

.navigation-mobile-view {
  display: none;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px 0 15px 0;
  gap: 5px;
  z-index: 2;
  background-color: white;
  border-top: var(--border);
  width: 100%;
  height: 25px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.navigation-mobile-view img {
  width: 24px;
  aspect-ratio: 1/1;
  cursor: pointer;
}

@media (max-width: 1325px) {
  .search {
    width: 200px;
  }
}

@media (max-width: 1245px) {
  .navigation img {
    width: 36px;
  }

  .header-logo img {
    width: 165px;
  }
}

@media (max-width: 1150px) {
  .search {
    width: 140px;
  }

  .navigation {
    gap: 25px;
  }
}

@media (max-width: 1034px) {
  .mobile-black-search-icon {
    display: flex;
  }

  .header-section form {
    display: none;
  }
}

@media (max-width: 900px) {
  .navigation img {
    width: 27px;
  }
}

@media (max-width: 800px) {
  .navigation img {
    width: 24px;
  }
  .header-logo img {
    width: 155px;
  }
}

@media (max-width: 770px) {
  .hide-mobile {
    display: none;
  }
}

@media (max-width: 595px) {
  .header-logo img {
    width: 130px;
  }
}

@media (max-width: 550px) {
  .header {
    display: none;
  }
  .navigation-mobile-view {
    display: flex;
  }

  .size-mobile-view {
    width: 40px !important;
  }
}
