/* Index CSS */
body {
  font-family: 'roboto';
  margin: 0;
  min-height: 100vh;
  position: relative;
}

:root {
  --gray: rgb(128, 128, 128, 0.2);
  --light-gray: rgb(244, 244, 244);
  --blue: #156dc0;
  --light-blue: #75a5d3;
  --bg-gray: rgb(246, 246, 246);
  --text-gray: rgb(150, 146, 146, 2);
  /* Border */
  --border: 2px solid rgb(128, 128, 128, 0.2);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--light-blue);
  cursor: grab;
}

::-webkit-scrollbar-thumb:active {
  background: var(--light-blue);
  cursor: grabbing;
}

.no-scroll {
  overflow: hidden;
}

.d-flex-just-cont-space-between {
  display: flex;
  justify-content: space-between;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.margin-left-right-px {
  margin-left: 35px;
  margin-right: 35px;
}

.margin-left-right {
  margin: 0 15% 0 15%;
}

.content {
  background-color: var(--bg-gray);
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.link-style {
  text-decoration: none;
  font-weight: bold;
  color: var(--blue);
  font-size: 18px;
}

.p-black {
  color: black;
  font-weight: bold;
}

.p-gray {
  color: var(--text-gray);
}

.p-black,
.p-gray {
  font-size: 22px;
  margin: 4px 0 4px 0;
}

.profil-picture-large {
  cursor: pointer;
  border-radius: 50%;
  object-fit: cover;
  height: 100px;
  width: 100px;
}

.profil-picture-smale {
  cursor: pointer;
  border-radius: 50%;
  object-fit: cover;
  height: 60px;
  width: 60px;
}

.new-post-container {
  position: fixed;
  top: 100px;
  right: 0;
  left: 0;
  overflow: hidden;
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}

.new-post-content {
  position: relative;
  width: 50%;
  height: 50%;
  background-color: var(--light-gray);
}

.new-post-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45%;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-btn button {
  cursor: pointer;
}
