<!-- Aside Mobile View -->
<div class="aside-mobile-view">
  <div class="aside-mobile-view-content">
    <!-- My Profile -->
    <div class="profile-img-name-mobile-view">
      <img class="profil-picture-mobile-view my-profile-picture-mobile-view" src="img/my-account.picture.jpg" alt="Mein Profilbild" />
      <p class="p-black">Meine Story</p>
    </div>

    <!-- Profile 1 -->
    <div class="profile-img-name-mobile-view">
      <img class="profil-picture-mobile-view" src="img/profile-picture-4.jpg" alt="Zufälliges Profilbild" />
      <div>
        <p class="p-black">Artista-Lara</p>
      </div>
    </div>

    <!-- Profile 2 -->
    <div class="profile-img-name-mobile-view">
      <img class="profil-picture-mobile-view" src="img/profile-picture-2.png" alt="Zufälliges Profilbild" />
      <div>
        <p class="p-black">LebensLena</p>
      </div>
    </div>

    <!-- Profile 3 -->
    <div class="profile-img-name-mobile-view">
      <img class="profil-picture-mobile-view" src="img/profile-picture-1.jpg" alt="Zufälliges Profilbild" />
      <div>
        <p class="p-black">SophieSonnenschein</p>
      </div>
    </div>

    <!-- Profile 4 -->
    <div class="profile-img-name-mobile-view">
      <img class="profil-picture-mobile-view" src="img/profile-picture-3.jpg" alt="Zufälliges Profilbild" />
      <div>
        <p class="p-black">FelixFreigeist</p>
      </div>
    </div>

    <!-- Profile 5 -->
    <div class="profile-img-name-mobile-view">
      <img class="profil-picture-mobile-view" src="img/profile-picture-5.png" alt="Zufälliges Profilbild" />
      <div>
        <p class="p-black">NatureEmilia</p>
      </div>
    </div>
  </div>
</div>
