<!-- Aside -->

<div class="aside">
  <div class="aside-content">
    <div class="profile-section margin-left">
      <div class="img-name gab">
        <img class="profil-picture-large" src="/img/my-account.picture.jpg" alt="Profilbild" />
        <div>
          <p><b>jörg_Bechtold</b></p>
          <p style="color: var(--text-gray)">Jörg Bechtold</p>
        </div>
      </div>
      <div>
        <a class="link-style" href="#">Wechseln</a>
      </div>
    </div>

    <div class="suggestions-for-you margin-left">
      <h2>hallo alle</h2>
    </div>
  </div>
</div>
