<!-- Aside -->
<section>
  <div class="aside-content">
    <div class="content-aside">
      <div class="profile-section">
        <h1>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates, veniam. Quasi ipsa pariatur, dolor corporis veniam voluptatibus! Natus
          culpa cumque molestias, quos provident commodi tempora, hic sequi dicta eligendi officiis! Dicta nostrum dolores neque atque quis provident
          natus beatae totam voluptatibus delectus suscipit voluptatem praesentium animi iusto tenetur numquam earum soluta unde, maxime cum quam
          harum quae. Asperiores, error unde! Dolorem at quibusdam consequuntur. Iste accusamus, aut laboriosam nulla pariatur odio iure deserunt
          voluptatum maxime consequatur, necessitatibus ipsam nostrum laudantium aspernatur dolore. Sapiente eveniet nesciunt dolor enim accusantium!
          Nisi, tenetur.
        </h1>
      </div>

      <div class="suggestions-for-you">
        <h2>hallo alle</h2>
      </div>
    </div>
  </div>
</section>
