<!-- Aside -->

<div class="aside">
  <div class="aside-content">
    <div class="profile-section margin-left">
      <div class="my-img-my-name">
        <img class="profil-picture-large" src="/img/my-account.picture.jpg" alt="Mein Profilbild" />
        <div>
          <p class="p-black">jörg_Bechtold</p>
          <p class="p-gray">Jörg Bechtold</p>
        </div>
      </div>
      <div>
        <a class="link-style" href="#">Wechseln</a>
      </div>
    </div>

    <div class="suggestions-for-you margin-left">
      <div class="suggestion-headline">
        <h1>Vorschläge für dich</h1>
        <a href="#">Alle ansehen</a>
      </div>

      <!-- Profile 1 -->
      <div class="profiles-container">
        <div class="random-profiles">
          <img class="profil-picture-smale" src="/img/profile-picture-1.jpg" alt="Zufälliges Profilbild" />
          <div>
            <p class="p-black">SophieSonnenschein</p>
            <p class="p-gray">Folgt dir</p>
          </div>
        </div>
        <div>
          <a class="link-style" href="#">Abonnieren</a>
        </div>
      </div>

      <!-- Profile 2 -->
      <div class="profiles-container">
        <div class="random-profiles">
          <img class="profil-picture-smale" src="/img/profile-picture-2.png" alt="Zufälliges Profilbild" />
          <div>
            <p class="p-black">LebensLena</p>
            <p class="p-gray">Von AdventureJonas abonniert</p>
          </div>
        </div>
        <div>
          <a class="link-style" href="#">Abonnieren</a>
        </div>
      </div>

      <!-- Profile 3 -->
      <div class="profiles-container">
        <div class="random-profiles">
          <img class="profil-picture-smale" src="/img/profile-picture-3.jpg" alt="Zufälliges Profilbild" />
          <div>
            <p class="p-black">FelixFreigeist</p>
            <p class="p-gray">Vorschläge für dich</p>
          </div>
        </div>
        <div>
          <a class="link-style" href="#">Abonnieren</a>
        </div>
      </div>

      <!-- Profile 4 -->
      <div class="profiles-container">
        <div class="random-profiles">
          <img class="profil-picture-smale" src="/img/profile-picture-4.jpg" alt="Zufälliges Profilbild" />
          <div>
            <p class="p-black">Artista-Lara</p>
            <p class="p-gray">Vorschläge für dich</p>
          </div>
        </div>
        <div>
          <a class="link-style" href="#">Abonnieren</a>
        </div>
      </div>

      <!-- Profile 5 -->
      <div class="profiles-container">
        <div class="random-profiles">
          <img class="profil-picture-smale" src="/img/profile-picture-5.png" alt="Zufälliges Profilbild" />
          <div>
            <p class="p-black">NatureEmilia</p>
            <p class="p-gray">Vorschläge für dich</p>
          </div>
        </div>
        <div>
          <a class="link-style" href="#">Abonnieren</a>
        </div>
      </div>
    </div>
  </div>
</div>
