<div class="header">
  <section class="header-section margin-left-right">
    <div class="header-logo">
      <a href="index.html"><img src="img/instagram-schriftzug.png" alt="Instagram Schriftzug" /></a>
    </div>

    <form onsubmit="return false">
      <div class="search">
        <img class="search-icon" src="img/icon-search.svg" alt="Lupe" />
        <input class="search-input" type="search" name="Search-input" id="Search_input" placeholder="Suchen" />
      </div>
    </form>

    <nav class="navigation">
      <a href="index.html"><img src="img/icon-house.svg" alt="haus für startseite" /></a>
      <img onclick="addNewPost()" src="img/plus-solid (3) (1).svg" alt="Icon für neuen post" />
      <img class="mobile-black-search-icon" src="img/magnifying-glass-solid (3) (1).svg" alt="Lupe" />
      <img src="img/icon-paper-plane.svg" alt="Papierflugzeug" />
      <img class="hide-mobile" src="img/icon-compass.svg" alt="Kompass" />
      <img class="hide-mobile" src="img/icon-heart.svg" alt="Herz" />
      <img class="profile-picture" src="img/my-account.picture.jpg" alt="Profil Bild" />
    </nav>
  </section>
</div>

<!-- header bottom mobile view  -->
<nav class="navigation-mobile-view">
  <a href="index.html"><img src="img/icon-house.svg" alt="haus für startseite" /></a>
  <img class="mobile-black-search-icon" src="img/magnifying-glass-solid (3) (1).svg" alt="Lupe" />
  <img onclick="addNewPost()" src="img/plus-solid (3) (1).svg" alt="Icon für neuen post" />
  <img class="" src="img/icon-paper-plane.svg" alt="Papierflugzeug" />
  <img class="profile-picture" src="img/my-account.picture.jpg" alt="Profil Bild" />
</nav>
