<header>
  <section class="header-section margin-left-right">
    <div class="header-logo">
      <a href="#index.html"><img src="../img/instagram-schriftzug.png" alt="Instagram Schriftzug" /></a>
    </div>

    <form onsubmit="return false">
      <div class="search">
        <img class="search-icon" src="/img/icon-search.svg" alt="Lupe" />
        <input class="search-input" type="search" name="Search-input" id="Search_input" placeholder="Suchen" />
      </div>
    </form>

    <nav class="navigation">
      <a href="#index.html"><img src="/img/icon-house.svg" alt="haus für startseite" /></a>
      <img src="/img/icon-paper-plane.svg" alt="Papierflugzeug" />
      <img src="/img/icon-compass.svg" alt="Kompass" />
      <img src="/img/icon-heart.svg" alt="Herz" />
      <img class="profile-picture" src="/img/my-account.picture.jpg" alt="Profil Bild" />
    </nav>
  </section>
</header>
