<!-- Main -->

<div class="main">
  <div class="post-container">
    <!-- Wird in Jacascript generiert -->
    <div class="post-headline">
      <div class="post-headline-content">
        <img class="author-img" src="/img/news-logo.jpg" alt="Autoren Profil Bild" />
        <a href="#">Lokale News</a>
      </div>

      <div>
        <img class="tree-dots-icon" src="/img/three-dots-icon.svg" alt="Drei Punkte Icon" />
      </div>
    </div>

    <div class="post-content">
      <div class="post-img">
        <img src="/img/badesee.jpg" alt="Post Bild" />
      </div>

      <div class="post-icons padding-left-right">
        <div class="icons-left">
          <img src="/img/icon-heart.svg" alt="Herz icon" />
          <img src="/img/icon-comment.svg" alt="Kommentieren icon" />
          <img src="/img/icon-paper-plane.svg" alt="Nachricht icon" />
        </div>
        <div class="icons-right">
          <img src="/img/icon-bookmark.svg" alt="Merken icon" />
        </div>
      </div>

      <div class="liks-section padding-left-right">
        <h3>Gefällt</h3>
        <p>131.514 Mal</p>
      </div>

      <div class="post-text padding-left-right">
        <span>
          Europäische Umweltagentur: Wasserqualität deutscher Badegewässer weiter sehr gut Fast alle deutschen Badegewässer erfüllen die
          Mindestanforderungen der Europäischen Umweltagentur. Nur an sieben der mehr als 2.000 Gewässer wurden Mängel festgestellt.
        </span>
      </div>

      <div class="comments-section">
        <!-- test -->
        <div class="current-comments padding-left-right">
          <div class="comment-profile-name-time">
            <div>
              <p class="comment-profile">martinSchmitt</p>
              <p class="comment-time">Vor 21 Stunden</p>
            </div>

            <div class="comment-profile-text">
              <span
                >Außer bei unserem See um die Ecke leider nicht :( Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima commodi quisquam
                enim, natus dignissimos dicta, itaque nisi reprehenderit error eius impedit earum sequi minus dolorem. Perferendis labore et nisi
                facilis. Sequi odio, nobis earum amet nisi aliquam nihil nostrum doloribus incidunt delectus quaerat, velit adipisci. Illo
                exercitationem, neque eligendi quis quibusdam sequi possimus dolor, officia quia laborum delectus recusandae alias. Quaerat minima
                voluptatem omnis. Dolorem aspernatur veritatis aperiam dignissimos possimus perspiciatis fugiat est corrupti illum quisquam. Autem qui
                omnis porro incidunt illum excepturi ab rerum unde vitae, magni ut officia?
              </span>
            </div>
          </div>

          <div class="comment-heart-icon">
            <img src="/img/icon-heart.svg" alt="herz icon" />
          </div>
        </div>
        <!-- test -->

        <div class="add-new-comment padding-left-right">
          <input class="add-new-comment-input" type="search" name="add-new-comment-input" id="comment_input" placeholder="Kommentar hinzufügen" />
          <button class="add-new-comment-button">Posten</button>
        </div>
      </div>
    </div>
    <!-- Wird in Jacascript generiert -->
  </div>
</div>
