<!-- Main -->

<div class="main">
  <div class="post-container">
    <!-- Wird in Jacascript generiert -->
    <div class="post-headline">
      <div class="post-headline-content">
        <img class="author-img" src="/img/news-logo.jpg" alt="Autoren Profil Bild" />
        <h2>Nachrichten</h2>
      </div>

      <div>
        <img class="tree-dots-icon" src="/img/three-dots-icon.svg" alt="Drei Punkte Icon" />
      </div>
    </div>

    <div class="post-content">
      <div class="post-img">
        <img src="/img/badesee.jpg" alt="Post Bild" />
      </div>

      <div class="post-icons">
        <div class="icons-left">
          <img src="/img/icon-heart.svg" alt="Herz icon" />
          <img src="/img/icon-comment.svg" alt="Kommentieren icon" />
          <img src="/img/icon-paper-plane.svg" alt="Nachricht icon" />
        </div>
        <div class="icons-right">
          <img src="/img/icon-bookmark.svg" alt="Merken icon" />
        </div>
      </div>
    </div>
    <!-- Wird in Jacascript generiert -->
  </div>
</div>
